
@charset "UTF-8";

html {
	font-size: 62.5%;
}

.body {
	background-color: rgba(104, 98, 98, 0.5);
}

.contents {
	height: 370px;
	width: 600px;
	margin: 0 30px;
}

.contents #error {
	margin: 20px auto 10px;
}

.subject {
	font-size: 2rem;
	font-weight: bold;
	margin: 0 auto 30px;
}

.addresslist {
	margin-bottom: 20px;
}

.addresslist.none {
	display: none;
}

.addresslist .target {
	font-size: 1.5rem;
	font-weight: bold;
}

.addresslist .ms-CheckBox {
	margin-right: 10px;
}

.footer {
	margin: 10px 30px;
}

.footer .button {
	margin-right: 10px;
	height: 28px;
	padding: 0 20px;
	background-color: rgb(30, 110, 230);
	color: white;
	border: 1px solid rgb(30, 110, 230);
	font-weight: bold;
	font-size: 1.5rem;
}

.footer .button:hover{
	opacity: 0.7;
	cursor: pointer;
}

.footer .button.cansel {
	background-color: rgba(199, 197, 197, 0.842);
	border: 1px solid rgba(199, 197, 197, 0.842);
	color: black;
}